.mySliders{
    display: none;
}
img{
    vertical-align: middle;
}
.slideshow-container{
    max-width: 80%;
    position: relative;
    margin: auto;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.6s ease;
}
@media (max-width: 480px){
    .slideshow-container{
        max-width: 100%;
    }
}